/__pycache__ 
*.pyc

/dataset
*.pth

/logs

/checkpoint/sam/*
!/checkpoint/sam/.gitkeep 

/output_random_ablation/*
!/output_random_ablation/.gitkeep 

/logs_random_ablation/*
!/logs_random_ablation/.gitkeep 

/runs

*csv